@model IEnumerable<SuperShop.Web.Data.Entities.Product>

@{
    ViewData["Title"] = "Index";
}

<h3>All Products</h3>

<p>
    <a asp-action="Create" class="btn btn-primary">New Product</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a href="@Url.Content($"~/Products/Index/{Html.DisplayNameFor(model => model.Name)}")">
                    @Html.DisplayNameFor(model => model.Name) <i class="fa fa-arrow-down-a-z"></i>
                </a>
            </th>
            <th>
                <a href="@Url.Content($"~/Products/Index/{Html.DisplayNameFor(model => model.Price)}")">
                    @Html.DisplayNameFor(model => model.Price) <i class="fa fa-arrow-down-1-9"></i>
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastPurchase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastSale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>
            <th>
                <a href="@Url.Content($"~/Products/Index/{Html.DisplayNameFor(model => model.Stock)}")">
                    @Html.DisplayNameFor(model => model.Stock) <i class="fa fa-arrow-down-1-9"></i>
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.ImageFullPath)" alt="Image" style="max-width:32px;max-height:32px;">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastPurchase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastSale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
